*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}

.navbar{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0%;
    height: 12%;
    z-index: 100;
    align-items: center;
    justify-content: space-around;
    background: rgba(25, 25, 25, 0.95);
}

.navbar ul{
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin: 25px;
    align-items: center;
    justify-content: center;
}

.navbar ul li a{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #757575;
    font-weight: 600;
    transition: 0.3s;
}

.navbar ul li a:hover{
    color: #cc1616;
    font-size: larger;
}

.logoname{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoname h1 a{
    color: white;
    font-family: "Raleway", sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    text-decoration: none;
}

.logoname h1 a:hover{
    color: #676767;
}

.checkbtn{
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
#check{
    display: none;
}
.mobile-nav-toggle.bi-x {
    color: #cc1616;
}
  
@media (max-width: 991px) {
    .logoname{
        width: 90%;
    }
}
@media (max-width: 991px){
    .checkbtn{
      display: block;
    }
    .navbar ul{
      position: fixed;
      width: 100%;
      flex-direction: column;
      height: 65vh;
      background-color: cornflowerblue;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    .navbar ul li{
      display: block;
      margin: 35px 0;
    }
    .navbar ul li a{
      font-size: 20px;
      color: rgb(0, 0, 0);
    }
    .navbar ul li a:hover, .navbar ul li a.active{
      color: #ffffff;
      font-size: 25px;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
#hero {
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100vh - 90px);
    top: 90px;
    background: url(https://source.unsplash.com/random) top center;
    background-size: cover;
    position: relative;
}

.container{
    background-color: #0000007d;
    border-radius: 15px;
    padding: 20px;
    margin-left: 2%;
    font-family: "Raleway", sans-serif;
}
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
  }
  
#hero h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
}
  
#hero .btn{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 10px 28px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
    text-decoration-line: none;
}
  
#hero .btn:hover {
    background: #cc1616;
    border-color: #cc1616;
}
  
@media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
}
  
@media (max-width: 768px) {
    #hero {
      text-align: center;
      height: 100vh;
      top: 0px;
      align-items: center;
      justify-content: center;
    }
    #hero .container {
      padding-top: 40px;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
}

#about, #projects, #projects1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 90px;
    
}
.container1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Lobster', cursive;
    font-size: 2.2rem;
    margin: 0 5%;
    color: white;
}
.satvik{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
}
.satvik img{
    width: 100%;
}
.satvik:hover{
    /* width: 75%; */
}

@media (max-width: 1000px){
    .info{
        font-size: 1.5rem;
    }
}
@media (max-width: 768px){
    .container1{
        flex-direction: column;
        margin-top: 10%;
    }
    .info{
        text-align: center;
        font-size: 1.3rem;
        margin: 0;
        width: 80%;
        /* margin-bottom: 25px; */
    }
    #about, #projects, #projects1{
        top: 0px;
        height: 100vh;
    }
    .satvik:hover{
        /* width: 65%; */
    }
    .satvik{
        margin-top: 10%;
    }
    .satvik img{
        width: 75%;
    }
}

@media (max-width: 1516px)
{
    #hero, #about, #projects, #projects1{
        top: 0px;
        height: 100vh;
    }
}

.containercard{
    position: relative;
    display: flex;
    /* width: 1100px; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Bree Serif', serif;
}

.card{
    position: relative;
    max-width: 360px;
    height: 215px;
    background-color: white;
    margin: 30px 10px;
    align-items: center;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgb(0 0 0 / 50%);
    transition: 0.3s ease-in-out;
}

.card:hover{
    height: 420px;
}

.image{
    position: relative;
    width: 260px;
    height: 175px;
    top: -60px;
    box-shadow: 0 5px 20px rgb(0 0 0 / 20%);
}

.image img{
    max-width: 100%;
    border-radius: 4px;
}

.infocard{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:black;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;   
}

.card:hover .infocard{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media (max-width: 768px){
    #projects, #projects1{
        flex-direction: column;
        height: auto;
    }
    .containercard{
        height: 100vh;
        top: 25%;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .card{
        margin: 0;
        padding: 0;
        top: 10%;
    }
}